body, html{
  height: 100%;
  margin: 0;
}

.full-background{
  background-image: url("./images/fullpage.jpeg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main{
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 30px;
}

div.content{
  width: 100%;
  position: relative;
}

div.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #212121;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

div.content:hover{
  width: 100%;
  cursor: pointer;
}

div.content:hover .overlay {
  width: 100%;
}

div img{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
